<form
  action="/login"
  method="post"
  enctype="application/x-www-form-urlencoded"
  class="navbar-form navbar-right">
  <input
    class="form-control"
    type="text" placeholder="Username"
    name="username" />
  <input
    class="form-control"
    type="password"
    placeholder="Password"
    name="password" />
  <div class="btn-group">
    <button class="btn btn-primary">Sign In</button>
    <a class="btn btn-success" href="/signup">Sign Up</a>
  </div>
</form>