<form class="navbar-form navbar-right">
  <button type="button"
    class="btn btn-default dropdown-toggle"
    data-toggle="dropdown">
    <img
      class="img-response img-circle"
      src="{{user.img}}" />
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</form>