<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{title}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{is_active path "/"}}">
          <a href="/">Home</a>
        </li>
        {{#if user}}
        <li class="{{is_active path "/profile"}}">
          <a href="/profile">Profile</a>
        </li>
        {{/if}}
      </ul>
      {{#if user}}
      {{> mini_profile}}
      {{else}}
      {{> login}}
      {{/if}}
    </div><!--/.nav-collapse -->
  </div>
</nav>